<!--
  Generated template for the FrontPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>front</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
      <ion-col>
	     NAME:
	   </ion-col>
	   <ion-col>
	     <input type = "text" [(ngModel)]="name" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     EMAIL:
	   </ion-col>
	   <ion-col>
	     <input type = "email" [(ngModel)]="email" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     PHONE:
	   </ion-col>
	   <ion-col>
	     <input type = "number" [(ngModel)]="phone" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     ADDRESS:
	   </ion-col>
	   <ion-col>
	     <input type = "text" [(ngModel)]="address" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-textarea  class="netResponse" rowa="5" placeholder="Network Response"></ion-textarea>
</ion-content>
