<ion-header>
  <ion-navbar>
    <ion-title>
      Form
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <button ion-button color="secondary" (click)="postData()"> REGISTER </button>
	<button ion-button color="secondary" (click)="getData()"> SEARCH </button>
	<button ion-button color="secondary" (click)="putData()"> UPDATE </button>
	<button ion-button color="secondary" (click)="deleteData"> DETETE </button>
  
  <ion-row>
      <ion-col>
	     NAME: {{result.name}}
	   </ion-col>
	   <ion-col>
	     <input type = "text" [(ngModel)]="name" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     EMAIL: {{result.email}}
	   </ion-col>
	   <ion-col>
	     <input type = "email" [(ngModel)]="email" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     PHONE: {{result.phone}}
	   </ion-col>
	   <ion-col>
	     <input type = "number" [(ngModel)]="phone" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
	<ion-row>
      <ion-col>
	     ADDRESS: {{result.address}}
	   </ion-col>
	   <ion-col>
	     <input type = "text" [(ngModel)]="address" #ctl="ngModel">
	   </ion-col>
	</ion-row>
	
   <ion-textarea  class="netResponse" rowa="5" placeholder="Network Response"></ion-textarea>
	
</ion-content>
